.footer {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(28, 27, 27) 0%,
    rgb(26, 23, 23) 100%
  );
}

.footer-container {
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
  margin: auto;
}

.footer-media-link {
  color: #fff;
  font-size: 30px;
  margin: 0.5rem;
}
