video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  object-fit: contain;
}

.hero-content {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.hero-title,
.hero-description {
  color: #fff;
}

.hero-title {
  font-size: 80px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 40px;
  margin-bottom: 20px;
}

.media-link {
  color: #fff;
  font-size: 60px;
  margin: 0.5rem;
  transition: all 0.3s ease-out;
}

.media-link:hover {
  color: #242424;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {
  .hero-container .hero-title {
    font-size: 70px;
  }

  .media-link {
    font-size: 50px;
  }
}

@media (max-width: 360px) {
  .hero-container .hero-title {
    font-size: 50px;
  }

  .hero-container .hero-description {
    font-size: 25px;
  }

  .media-link {
    font-size: 45px;
  }
}
